@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Benefits {
  padding: 7% 0;
  width: 100%;
  height: auto;
  background: linear-gradient(
    191.19deg,
    rgba(222, 139, 57, 0.13) 27%,
    rgba(16, 26, 105, 0.13) 58%
  );
}

.Container {
  padding: 4%;
  display: flex;
  margin: 0% 7%;
  width: 90%;
  gap: 2%;
  height: auto;
}

.Detials {
  display: flex;
  flex-direction: column;
  height: auto;
}

.Detials > :nth-child(1) {
  flex: 4;
}
.Detials > :nth-child(2) {
  flex: 6;
}

.SuscriberBenefits {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 40vw;
}

.SuscriberBenefits h2 {
  font-family: "Roboto", serif;
  font-weight: 600;
  font-style: normal;
  color: #43c61c;
  font-size: 2.5vw;
  text-align: center;
}

.SuscriberBenefits p {
  font-family: "Roboto", serif;
  font-weight: 600;
  font-style: normal;
  color: #43c61c;
  font-size: 2.5vw;
  text-align: center;
}

.Subscription {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10%;
  background: linear-gradient(
    258.03deg,
    rgba(109, 225, 149, 0.23) 0%,
    rgba(34, 41, 82, 0.23) 90%
  );

  border-left: 2px solid #43c61c;
  border-bottom: 1.8px solid #43c61c;
}

.Subscription :nth-child(1) {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #101a69;
  width: 34vw;
  font-size: 2.3vw;
}
.Subscription :nth-child(2) {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #101a69;
  font-size: 2.1vw;
  width: 34vw;
}
.Subscription :nth-child(3) {
  font-family: "Roboto", serif;
  font-weight: 600;
  font-style: normal;
  color: #43c61c;
  font-size: 2.3vw;
  margin-top: 4%;
  text-align: center;
}

.image {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.image img {
  width: 100%;
  height: auto;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.responsiveButton {
  background-color: #43c61c;
  color: white;
  padding: 2% 5%;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  margin-top: 4%;
}

@media (max-width: 768px) and (min-width: 320px) {
  .Container {
    flex-direction: column-reverse;
    gap: 3vh;
  }

  .image {
    width: 95%;
    height: auto;
  }

  .Detials {
    align-items: center;
    margin: 3% 0 0 0;
    width: 100%;
  }

  .SuscriberBenefits h2 br,
  .SuscriberBenefits p {
    display: none;
  }

  .SuscriberBenefits {
    width: 100vw;
    height: auto;
    margin: 0 0 3% 0;
  }

  .SuscriberBenefits h2 {
    width: 100%;
    height: auto;
    font-size: 3vw;
    font-weight: 700;
  }
  .Subscription h2 br {
    display: none;
  }
  .Subscription {
    width: 100%;
    height: auto;
  }

  .Subscription :nth-child(1) {
    padding: 2%;
    width: 100%;
    font-size: 2.4vw;
  }
  .Subscription :nth-child(2) {
    width: 100%;
    padding: 2%;
    font-size: 2.4vw;
  }
  .Subscription :nth-child(3) {
    width: 100%;
    padding: 0 2% 3% 2%;
    font-size: 2.4vw;
  }
}
